<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerLinks}}
</head>
<body>
    {{> progressBar}}
    {{> navbar}}
    <main>
        <div class="error">
            <a href="/">
                <img src="img/emptyCart.png" alt="">
            </a>
        </div>
    </main>
    {{> footer}}
</body>
</html>