<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerLinks}}
</head>
<body>
    {{> progressBar}}
    {{> navbar}}
    <main>
        <div class="error">
            <img src="img/error.png" alt="">
        </div">
    </main>
    {{> footer}}
</body>
</html>