<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerLinks}}
</head>
<body>
    {{> progressBar}}
    {{> navbar}}
    <main>
        <div class="container">
           {{> slider}}
           {{> itemcontainer1}}
           {{> itemcontainer2}}
           {{> itemcontainer3}}
        </div>
    </main>
    {{> footer}}
</body>
</html>