<div class="cards">

  <h2 class="my-2">Furniture Bestsellers</h2>
  <div class="card">

    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?furniture,furniture"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Furniture</p>
        <p class="my-1">Min 40% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
  </div>
</div>