<div class="cards">

  <h2 class="my-2">Best Battery Phones</h2>
  <div class="card">

    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img
        src="https://source.unsplash.com/160x160/?smartphones,smartphones"
        alt=""
      />
      <div class="lines">
        <p class="my-1">Smart Phones</p>
        <p class="my-1">Min 30% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
  </div>
</div>