<div class="cards">

  <h2 class="my-2">Join the Cricket fun</h2>
  <div class="card">
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>
    <div class="card-item">
      <img src="https://source.unsplash.com/160x160/?cricket,cricket" alt="" />
      <div class="lines">
        <p class="my-1">Cricket Bats</p>
        <p class="my-1">Min 20% off</p>
        <p class="my-1">Grab Now</p>
      </div>
    </div>

  </div>
</div>