<header>
  <nav>
    <div class="logo">
      <img src="/img/logo.png" alt="" />
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    <div class="search">
      <input type="text" placeholder="Search for Products,Brands and More" />
      <button class="btn">Search</button>
    </div>
    <div class="login">
      <a href="login">
        <button class="btn2">
          {{#if status}}
            {{status}}
          {{else}}
            Login
          {{/if}}
        </button>
      </a>

    </div>
    <div class="cart">
      <button class="btn33">
        <a href="cart">
          <img src="/img/cartIcon.jpg" alt="" srcset="" />
        </a>
      </button>
    </div>
  </nav>
</header>